.menu{
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background: rgb(33, 55, 44);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    ul{
        cursor: pointer;
        display: flex;
        width: 100%;
        flex-direction: column;
        list-style: none;
        text-align: center;
        font-size: 18px;
        margin: 0;
        padding: 0;
        margin-top: 100px;
        height: fit-content;
        &>a{
            color:rgb(167, 227, 193);
            padding: 0 20px;
            i{
                margin-right: 5px;
            }
        }
        &>li{
            color:rgb(167, 227, 193);
            position: relative;
            margin: 10px auto;
            width: 100%;
            word-break: keep-all;
           
            a{
                color:rgb(167, 227, 193);
                &:active{
                    color: inherit;
                }
            }
            i{
                margin-right: 5px;
            }
            .submenu{
                position: absolute;
                top:0;
                z-index:100;
                left: 100%;
                width: 200px;
                height: fit-content;
                display: none;
                background: rgba(157, 206, 177, 0.8) !important;
                color:rgb(2, 38, 17) !important;
                flex-direction: column;
                z-index: 50;
                text-decoration: none;
                margin: 0;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                overflow: hidden;
                a{
                    padding: 0 !important;
                }
                .active-submenu{
                    background: rgb(65, 104, 80) !important;
                    color:rgb(243, 243, 250) !important;
                }
                li{
                    text-decoration: none;
                    color:rgb(7, 44, 2) !important;
                    font-weight: 700;
                    margin: 0;
                    padding: 10px 0 !important;
                    &:hover{
                        background: rgb(65, 104, 80) !important;
                        color:rgb(243, 243, 250) !important;
                    }
                }
            }
            &:hover .submenu{
                display: flex;
            }
        }
        .active{
            color:#f8ffec !important
        }
    }

}