.sidebar-task{
	width: 85%;
	margin: 0 auto;
	height: 100%;
	display: flex;
	flex-direction: column;
	.title{
		width: 100%;
		margin: 20px 0;
		font-size: 35px;
		display: flex;
		justify-content: space-between;
		&>i{
			font-size: 15px;
		}
		.back-lesson{
			margin: auto 0;
			cursor: pointer;
			font-size: 25px;
			a{
				color:#ffffff
			}
		}
		.dones{
			margin: auto 0;
			font-size: 25px;
			span{
				margin-left: 5px;
			}
		}
	}
	hr{
		width: 100%;
		height: 2px;
		border-radius:50%;
		background: white;
	}
	.conversation{
		height: 65%;
		padding-bottom: 10px;
		overflow-y: auto;
		width: 100%;
		margin-top: 15px;
		.condition{
			width: 90%;
			margin: 0 auto;
			padding: 10px;
			padding-left: 20px;
			border-radius: 20px;
			display: flex;
			flex-direction: column;
			background: rgb(86, 104, 111,0.4);
			box-shadow: 0 5px 30px rgb(0 0 0 / 0.3);
			.title-condition{
				font-size: 20px;
				display: flex;
				.block-color{
					width: 20px;
					height: 20px;
					border-radius: 1px;
					background: #ffffff;
					margin-right: 15px;
				}
				margin-bottom: 10px;
			}	
		}
	}
	.buttons-success{
		display: flex;
		height: 80px;
		width: 100%;
		button{
			width: 90%;
			margin: auto;
			background: rgb(21, 100, 21);
			color:#ffffff;
			height: 50px;
		}
		
	}
	.buttons-error{
		width: 100%;
		height: 80px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		button{
			width: 45%;
			height: 50px;
			font-size: 16px;
		}
		.default-btn{
			background: rgb(86, 104, 111) !important;
			color: #ffffff !important;
		}
		.error-btn{
			background: #ff0000;
			color: #ffffff;
		}
	}
	.buttons-hint{
		width: 100%;
		height: 80px;
		display: flex;
		.default-btn{
			background: rgb(86, 104, 111) !important;
			color: #ffffff !important;
		}
		button{
			width: 90%;
			margin: auto;
			height: 50px;
			background: rgb(175, 201, 212);
			color: #192166;
		}
	}
	.completed{
		display: flex;
		flex-direction: column;
		p{
			text-align: center;
			font-size: 18px;
			color:#ff9c08;
		}
		button{
			height: 35px;
			width: 70%;
			margin: 0 auto;
			background: #ff9c08;
			color:#ffffff
		}
	}
	button{
		outline: none !important;
		border: none !important;
		border-radius: 20px;
		font-size: 18px;
		&:hover{
			opacity: 0.7;
		}
		border:2px solid rgb(195, 184, 184) !important; 
	}
}